#params {
    margin: 5px 0 20px 0;
    padding: 10px;
}

#params {
    float: left;
    width: 40%;
}

#donats {
    width: 100%;
    margin-bottom: 20px;
}
#donats td:nth-child(1) {
    width: 200px;
}
#donats td:nth-child(2) {
    min-width: 300px;
}
#donats td:nth-child(3) {
    min-width: 150px;
}
#donats td:nth-child(4) {
    min-width: 150px;
}

.disabled {
    color: #888;
}

.plus {
    color: #006d2c;
}
.minus {
    color: #a50f15;
}

.disabled_donation {
    text-decoration: line-through;
}
.period, .until {
    font-size: 10pt;
    color: #aaa;
}

.tags {
    display: inline-block;
}
.tags > li {
    float: left;
    list-style: none;
    margin: 3px 3px 3px 0;
}
.tag {
    color: #99f;
    padding: 3px;
    margin-left: 3px;
    border: 1px solid;
    border-radius: 5px;
}

.delete_tag {
    color: #a50f15;
}