* {padding: 0; margin: 0;}

body {
    margin: 0 10% 0 10%;
    font-family: verdana, sans-serif;
    font-size: 12pt;
    background-color: #202020;
    color: #eee;
    line-height: 150%;
}

input {
    color: black;
}

.fullwidth {
    max-width: 960px;
    min-width: 320px;
}

a { color: #66f; cursor: pointer; }
a:hover { color: #44f; }

.highlighted { color:#d17; }

.bal_table {
    border-collapse: collapse;
}
.bal_table > tbody > tr > td,
.bal_table > tfoot > tr > td,
.bal_table > thead > tr > th {
    border: 1px solid #eee;
    padding: 5px 20px 5px 20px;
}
.bal_table tr > td:first-child, .bal_table tr > th:first-child {
    text-align: right;
    font-weight: bold;
}
.bal_table tr > td:last-child, .bal_table tr > th:last-child {
    text-align: left;
}

.help {
    font-size: 10pt;
    color: #aaa;
    display: block;
}
.required::after {
    content: "*";
    color: #e22;
}

.error {
    border: 2px solid #e22;
    background: rgba(238, 34, 34, 0.4);
    list-style-type: none;
    padding: 3px 5px;
}
.message {
    border: 2px solid #292;
    background: rgba(34, 153, 34, 0.4);
    list-style-type: none;
}

.modal-content {
    background-color: #202020;
}

.alert {
    padding: 5px;
    margin-bottom: 10px;
}