.accoutings li {
    padding: 4px 0;
}

.expander_triangle {
    font-size: 0;
    border: 6px solid #44f;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.collapsed {
    border-top-color: transparent;
}
.expanded {
    border-left-color: transparent;
}

.acc-lists {
    list-style: none;
}

.acc-lists .accountings {
    padding-left: 40px;
    list-style: none;
}
