{% extends "layout.jinja2" %}

{% block title %}
    Not Found
{% endblock %}

{% block content %}
    <p class="help">It's gone!.. Where?..</p>
    <p>No such page.</p>
    <p class="spoiler">
        <span class="header">Full error:</span>
        <span class="body">{{error}}</span>
    </p>
    <footer>
        <a href="{{ url_for('index') }}">Go away!</a>
    </footer>
{% endblock %}