{% extends "layout.jinja2" %}
{% block title %}Login{% endblock %}
{% block userbar %}{% endblock %}
{% block content %}
    <form method="POST" id="login" class="form-horizontal">
        <p class="form-group col-lg-8">
            <input tabindex="1" type="text" name="username"
                   placeholder="Enter your name here..." autofocus="true"
                   id="username" class="form-control"/>
        </p>
        <p class="form-group col-lg-8">
            <input tabindex="2" type="password" name="password"
                   placeholder="...and password here"
                   id="password" class="form-control"/>
        </p>
        <p class="form-group col-lg-8">
            <input tabindex="3" type="submit" value="Enter"
                   class="btn btn-primary"/>
        </p>
        <input type="hidden" name="next"
               value="{{ request.args.get(next, url_for(config.get('LOGIN_DEFAULT_NEXT_ENDPOINT'))) }}"/>
    </form>
{% endblock %}